@model StreamStorageSizeLimitEditViewModel

@using VisusCore.Storage.ViewModels

<div class="form-check">
    <input type="checkbox"
           class="form-check-input"
           asp-for="EnableSizeLimit"
           data-bs-toggle="collapse"
           data-bs-target=".enableSizeLimit">
    @Html.LabelFor(model => model.EnableSizeLimit, T["Enable size limit"].Value)
</div>
<div class="enableSizeLimit collapse @(Model.EnableSizeLimit ? "show" : "")">
    <fieldset class="form-group" asp-validation-class-for="SizeLimitMegabytes">
        @Html.LabelFor(model => model.SizeLimitMegabytes, T["Size limit"].Value)
        @Html.TextBoxFor(model => model.SizeLimitMegabytes, new { @class = "form-control", @autocomplete="off" })
        @Html.ValidationMessageFor(model => model.SizeLimitMegabytes, string.Empty, new { @class = "text-danger" })
        <span class="hint">@T["Size limit in megabytes."]</span>
    </fieldset>
</div>
